* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/card.png);
    background-color: transparent;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eee;
    font-family: 'Raleway', sans-serif;
}

form {
    margin-bottom: 1rem;
}


.col-lg-4 {}

/* Country and timezone layout */

#countrytime {
    width: 100%;
    margin-bottom: 1rem;
}
#country {
    border: none;
    width: 100%;
    margin-bottom: 1rem;
    
}

#timezone {
    border: none;
    width: 100%;
    margin-bottom: 1rem;
}

/* Search input */
#search {
    border: none;
}

/* Date layout */

#date {
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 1rem;
    width: 100%;

}
#date .month,
#date .day {
    width: 45%;
}

#month,
#day {
    border: none;
}

/* Button */
button {
    background-color: rgb(255, 255, 255) !important;
}

/* Card layout */

#display,
#today {
    color: #444;
    margin-bottom: 2rem;
    width: 100%;
}

#display .card,
#today .card {
    
    border: none;
    padding: 1rem;
}

.today-card {
    text-align: center;
}


/* Small devices */
@media (min-width: 576px) {}

/* Medium devices */
@media (min-width: 768px) {
    #countrytime {
        display: flex;
        justify-content: space-between;
    
        width: 100%;
        margin-bottom: 1rem;
    }
    #country {
        width: 100%;
        
    }
    
    #timezone {
        width: 100%;
       
    }
}

/* Large devices */
@media (min-width: 992px) { ... }

/* Extra large devices */
@media (min-width: 1200px) { ... }