* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#country {
    width: 30%;
}

#date {
    display: flex;
    justify-content: space-around;

}
#date .month,
#date .day {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#month {
    max-width: 100%;
}

#day {
    max-width: 50%;
}

#display {
    color: #444;
    padding: 1rem;
    text-align: center;
}

#display .card {
    padding: 1em;
}
